.cover__subtitle {
  margin: 32px 0 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  color: white;
  max-width: 360px;
  z-index: 2;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.14;
    max-width: 288px;
  }
}