.footer__copyright {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  color: white;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    margin-top: 48px;
    line-height: 1;
  }
}