.lead__subtitle {
  color: white;
  margin: 32px 0 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  max-width: 640px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    margin: 16px 0 0;
    font-size: 16px;
    line-height: 1.25;
    max-width: 288px;
  }
}