.cover {
  width: 100%;
  max-width: 1184px;
  background-image: url('../../images/cover-trains.jpg');
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: block;
}